<ul>
  <li><%= link_to activity.name, activity_path(activity) %> - <%= link_to 'Edit', edit_activity_path(activity) %></li>
  <ul>
    <li>Occurence: <%= activity.occurrence %></li>
    <li>Details: <%= activity.details %></li>
  </ul>
</ul>
