<h3>Your activities:</h3>
<% if @activities != [] %>
  <ul>
    <% @activities.each do |activity| %>
    <li><%= link_to activity.name, activity_path(activity) %></li>
    <% end %>
  </ul>
<% else %>
  <p>You have not added any activities yet.</p>
<% end %>

<%= link_to 'Add a new activity', new_activity_path %>
