<% if @location %>
  <h3>Your activities in <%= @location.name %>:</h3>
<% else %>
  <h3>All your activities:</h3>
<% end %>

<% if @activities != [] %>
  <%= render(@activities) %>
<% else %>
  <h3>You have not added any activities to this location yet.</h3>
<% end %>
