<h3>All locations:</h3>

<% if @locations != [] %>
  <ul>
    <% @locations.each do |location| %>
      <li><%= link_to location.name, location_path(location) %> - <%= location.city %></li>
    <% end %>
  </ul>
<% else %>
  <p>No locations have been added yet.</p>
<% end %>

<%= link_to 'Add your location', new_location_path %>
