<h3>Your locations:</h3>

<% if @locations != [] %>
<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %> - <%= location.city %></li>
  <% end %>
</ul>
<%= link_to 'Add a new location', new_location_path, method: :get %>

<% else %>
  <p>You have not added any locations yet.</p>
  <%= link_to 'Add your location', new_location_path, method: :get %>
<% end %>
